*{margin: 0;padding: 0;box-sizing: border-box;}
html{ scroll-behavior: smooth;}
.container{ max-width: 1900px;margin: auto;}

[class="col-"]{ width: 100%;}
[class="col-"]{float: left;padding:15px;}
.row{width: 100%;}
.row::after{content: "";clear: both;display: table;}
.logo{width: 130px;height: 110px;line-height: 70px;text-align: center;border-radius: 50%;border: 2px solid green;}
header{ background-color: rgb(139, 235, 91);padding:0 10px ; text-align: center;}
nav ul li{display:block;}
nav ul li a{ display:block; text-decoration: none; color: blanchedalmond;line-height: 50px;padding: 10px;text-transform: uppercase;font-size: 0.9rem; transition:.9s;float: left;}
nav ul li a:hover{ border-radius: 10px; background-color: gray;}
/*banner start*/
#banner-section{background-image:url("food\ menu.avif") ; background-attachment: fixed;background-position: center;background-size: cover;background-repeat: no-repeat;}
.banner-contents{ text-align: center;padding:50px 10px ;}
.banner-contents h1{ width:100%; margin:15px auto ; font-size: 1.5rem; background-color: gold;color: azure;height:;padding: 50px; border-radius:10px;}
.banner-contents p{ width: 300px;height:40px; margin: 15px auto;background-color: darkgreen;padding:10px;}
.btn{width: 160px;padding: 10px;font-size: 1.5rem;border:none; background-color: chartreuse;text-transform: uppercase;transition: 0.4;}
.btn:hover{ background-color: coral;}
/*about us start*/
#about-us{ padding: 1%; }
.about-us-contents{text-align:center ;}
.about-us-contents h1{text-align: center;margin-bottom: 10px;font-weight: bolder;}
/*food menu start*/
#menu-section{ padding: 1%;}
 
.card-body{text-align:center ;}
.card-body img{ max-width: 100%; height: auto;display: block; }
.card-desc{ background-color: darkgreen; max-width:100%;}
.item-desc > p {font-size: 0.8 rem;padding: 10px;font-weight: bold;}
.item-name{background-color: darkcyan; color: azure;padding: 10px;}
.card{ transition: 0.4s;}
.card:hover{ transform: scale(1.1);}
/*contact*/

.map{ text-align: center; width: 100%;height: 300px;}
#contact{padding: 2%; background-color: rgb(10, 131, 50);}
.contact-details{ color: azure;text-align: center;padding: 20px 0;}

/*footer start*/
footer{ padding: 2%;color: azure; background-color: aquamarine;}
footer p{line-height: 32px;font-size: 1.3rem;text-align: center;}
.social-menus{ text-align: center;margin-top: 20px;}
.icon-style{color: rgb(13, 153, 153);width:32px ; height: 32px; line-height: 32px; border-radius: 50%; border: 1px solid rgb(160, 66, 66);padding: 8px; transition: 0.3s;}

.icon-style:hover{color: rgb(126, 25, 215);transform: scale(1,2);}



/*for small device*/

@media(min-width: 576px){
.col-sm-1{width:8.33% ;}
.col-sm-2{width:16.66% ;}
.col-sm-3{width:25% ;}
.col-sm-4{width: 33.33%;}
.col-sm-5{width:41.66% ;}
.col-sm-6{width:50% ;}
.col-sm-7{width:58.33% ;}
.col-sm-8{width:66.66% ;}
.col-sm-9{width:75% ;}
.col-sm-10{width:83.33% ;}
.col-sm-11{width:91.66% ;}md
.col-sm-12{width:100% ;}}
/*medium device*/
@media(min-width:768px){
.col-md-1{width:8.33% ;}
.col-md-2{width:16.66% ;}
.col-md-3{width:25% ;}
.col-md-4{width: 33.33%;}
.col-md-5{width:41.66% ;}
.col-md-6{width:50% ;}
.col-md-7{width:58.33% ;}
.col-md-8{width:66.66% ;}
.col-md-9{width:75% ;}
.col-md-10{width:83.33% ;}
.col-md-11{width:91.66% ;}
.col-md-12{width:100% ;}} 

/*large*/
@media(min-width:992px){


.col-lg-1{width:8.33% ;}
.col-lg-2{width:16.66% ;}
.col-lg-3{width:25% ;}
.col-lg-4{width: 33.33%;}
.col-lg-5{width:41.66% ;}
.col-lg-6{width:50% ;}
.col-lg-7{width:58.33% ;}
.col-lg-8{width:66.66% ;}
.col-lg-9{width:75% ;}
.col-lg-10{width:83.33% ;}
.col-lg-11{width:91.66% ;}
.col-lg-12{width:100% ;}}